main {
    grid-column: 2/4;
}

.clothes {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 15vh;
    align-items: center;
    padding: 150px;
    padding-bottom: 100px;
}

.tiles {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 40px;
    margin-bottom: 100px;
}

.tiles .item_img {
    width: 100%;
    height: 100%;
    grid-column: 1/-1;
    grid-row: 1/-1;
}

.item {
    display: grid;
    grid-template-columns: 1;
    grid-template-rows: 1;
    overflow: hidden;
}

.tiles .item_overlay {
    grid-column: 1/-1;
    grid-row: 1/-1;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
}

.item:hover .item_img {
    transform: scale(1.25);
    transition: 0.5s;
}

footer {
    grid-column: 1/-1;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: black;
    color: white;
    height: 25vh;
}
.social_contacts {
    width: 12vw;
    display: flex;
    justify-content: space-around;
}